# Eagle files
*.s#*
*.b#*
*.l#*
*.job
*.pro

# LTSpice Files
*.raw
*.fft
*.log
*.fft
*.net
*.plt
*.txt

#Jupyter
.ipynb_checkpoints

# Template Files
XXX-NNM Compliance Matrix.csv

# Altium
History/
OldVersions/
__Previews/
*.PrjPcbStructure
*.Annotation
*.REP
*.TLT
*.Dat

*desktop.ini
*.~lock*
lockfile.lck