# Eagle files
*.s#*
*.b#*
*.l#*
*.job
*.pro

# LTSpice Files
*.raw
*.fft
*.log
*.fft
*.net
*.plt
*.txt

#Jupyter
.ipynb_checkpoints

# Altium
History/
OldVersions/
__Previews/
*.PrjPcbStructure

*desktop.ini
*.~lock*
lockfile.lck